* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bunner-color: #6a795f;
    /* --main-color: #eaeaec;  */
    --main-bg: #fff8ee;
    --main-color : rgb(199, 157, 129);
    --border-color: #79422c;
    --btn-color: #af8443;
    --red: rgb(243, 7, 7);
    --spare-color: #e4e4e4;
    --white: #fff;
    --black: #000;
    
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 95%;
}

/* body {
    background: var(--main-bg);
} */

li {
    list-style: none;
}

a {
    color: var(--black);
    text-decoration: none;
}

/* ========== Navigation =========== */
nav.sticky {
    padding: 5px 100px;
    background: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
    color: var(--white);
}

nav.sticky a {
    color: var(--black) !important; 
    font-weight: 600;
} 

.navbar {
    position: fixed;
    background: var(--main-color);
    width: 100%;
    padding: 20px 0;
    transition: 0.6s;
    z-index: 999999999;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar .container .icons .icon {
    border: 1px solid var(--btn-color);
    padding: 9px;
    border-radius: 50%;
}

.navbar .container .icons .icon:hover {
    background: var(--btn-color);
    transition: all ease-in 0.3s;
}

.navbar .container .icons .cart span{
    background: var(--red);
    position: absolute;
    padding: 2px 5px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
}

.navbar-brand {
    font-weight: 700;
    color: var(--white);
}

.icons {
    gap: 20px;
    font-weight: 500;
}

.navbar .container .icons a{
    color: var(--white);
}

/* ========= Bunner =======  */
.bunner {
    background: var(--main-color);
    height: 70vh;
}

.bunner .container .text {
    position: relative;
    top: 120px;
    left: 40px;
    color: var(--white);
    font-weight: 600;
}

.bunner .container .text .fs-1 {
    line-height: 40px;
}

.bunner .img-bunner {
    position: absolute;
    right: 140px;
    top: 170px;
}

.bunner .image .img-lamb
{
    position: absolute;
    top: 60px;
    right: 70px;
}

.bunner .image .img {
    position: absolute;
    top: 60px;
    right: 90px;
    
}

.bunner .btn {
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
}
.bunner .btn-danger {
    background: var(--border-color);
    border: 1px solid var(--btn-color);
}

.bunner .btn-warning {
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}

.bunner .btn-warning:hover {
    background: var(--border-color);
}

/* ======== Products ======== */
#main-section {
    padding: 150px 0 70px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.listProduct {
    display: flex;
    width: 20%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    border: 1px solid var(--black);
    border-radius: 20px;
    padding: 10px 20px;
}

.listProduct:hover {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
}

.listProduct img {
    margin-bottom: 40px;
    width: 60%;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 10px 20px #000);
}

.listProduct .price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--border-color);
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
    gap: 80px;
}

.listProduct .rate {
    color: var(--border-color);
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    text-align: left;
}

.listProduct .text-product{
    font-weight: 500;
    font-size: 23px;
    width: 100%;
    text-align: left;
}

.listProduct .info {
    font-size: 15px;
    width: 100%;
    text-align: left;
}

.listProduct .addCart {
    padding: 9px 13px;
    text-transform: capitalize;
    font-weight: 400;
    border: 1px solid var(--border-color);
    background: var(--btn-color);
    color: var(--white);
    border-radius: 50px;
}

.listProduct .addCart:hover {
    background: var(--border-color);
}

/* ============= Menu of product page ============ */


/* ======== CartTab ========== */
.cartTab {
    width: 400px;
    background: var(--btn-color);
    color: var(--white);
    position: fixed;
    inset: 63px 0 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn button{
    background: var(--main-color);
    width: 49%;
    padding: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}


/* Start Footer */
footer {
    background: var(--main-color);
    padding-top: 2rem;
    font-size: 0.8rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.footer-container > div h4 {
    margin-bottom: 1.2rem;
}

.footer-1 a:hover {
    color: var(--color-white);
}

.footer-1{
    margin: 0 0 1rem 30px;
}

footer ul li {
    margin-bottom: 0.6rem;
}

footer ul {
    padding: 0;
}

footer ul li a:hover {
    text-decoration: underline;
    color: var(--color-white);
}

.footer-socials {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}


/* ========= start media query ========= */
@media (max-width: 799px) {
/* ========= Bunner =======  */
.bunner {
    background: var(--main-color);
    height: 45vh;
}

.bunner .container .text {
    text-align: center;
    top: 90px;
    left: auto;
}

.bunner .container .text .fs-1 {
    line-height: 40px;
}

.bunner .container .text .fs-1 span {
    display: inline-block !important;
}

.bunner .image {
    position: relative;
}

.bunner .img-bunner {
    position: absolute;
    width: 65%;
    right: 8rem;
    top: 0;
}

.bunner .image .img-lamb {
    position: absolute;
    width: 55%;
    top: -80px;
    right: 90px;
}

.bunner .image .img {
    position: absolute;
    width: 60%;
    top: -40px;
    right: 120px;
}

.bunner .container .text .buttons {
    display: block;
}

.bunner .btn {
    position: relative;
    top: 25rem;
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

.bunner .btn-danger {
    background: var(--btn-color);
}

.bunner .btn-warning {
    background: transparent;
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
}

.bunner .btn-warning:hover {
    background: var(--btn-color);
}

/* ======== Products ======== */
#main-section {
    position: relative;
    top: 20rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.listProduct {
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--black);
    padding: 10px 0;
}

.listProduct img {
    margin-bottom: 20px;
    width: 40%;
}

.listProduct .text-product{
    font-size: 20px;
}

/* .listProduct .addCart {
    padding: 5px 20px;
    text-transform: capitalize;
    font-weight: 400;
    border: none;
    background: var(--btn-color);
    color: var(--white);
    border-radius: 50px;
    margin-top: 20px;
} */
}

/* Mobiles */
@media screen and (max-width: 477px) {
    /* ========= Navbar ======= */
    nav.sticky {
        padding: 5px 0px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .navbar .container {
        width: var(--container-width-sm);
    }

    .navbar-toggler  {
        outline: none;
    }

    /* ========= Bunner =======  */
.bunner {
    background: var(--main-color);
    height: 365px;
}

.bunner .container .text {
    font-size: 13px;
    font-weight: 500;
}

.bunner .container .info {
    font-size: 11px;
}

.bunner .img-bunner {
    position: absolute;
    width: 65%;
    right: 5rem;
    top: -35px;
}

.bunner .image .img-lamb {
    position: absolute;
    width: 49%;
    top: -60px;
    right: 55px
}

.bunner .image .img {
    position: absolute;
    width: 60%;
    top: -60px;
    right: 73px;
}

.bunner .container .text .buttons {
    display: block;
    width: 100%;

}

.bunner .btn {
    position: relative;
    top: 15rem;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

.bunner .btn-danger {
    background: var(--btn-color);
}

.bunner .btn-warning {
    background: transparent;
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
}

.bunner .btn-warning:hover {
    background: var(--btn-color);
}


/* ======== Products ======== */
#main-section {
    position: static;
    top: 15rem;
    display: flex;
    flex-wrap: wrap;
    width: var(--container-width-sm);
    justify-content: center;
    gap: 10px;
}

.listProduct {
    display: flex;
    width: 46%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--black);
    padding: 10px 0;
}

.listProduct img {
    margin-bottom: 20px;
    width: 40%;
}

.listProduct .text-product{
    font-size: 20px;
    text-align: center;
}

.listProduct .info {
    text-align: center;
}

    /* Start Footer */
footer {
    background: var(--main-color);
    padding-top: 2rem;
    font-size: 0.8rem;
}

footer .container {
    width: var(--container-width-sm);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
}

.footer-container > div h4 {
    margin-bottom: 1rem;
}

.footer-1 a:hover {
    color: var(--color-white);
}

.footer-1{
    margin: 0 0 1rem 15px;
}

} 



/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */